<a href="https://colab.research.google.com/github/ae-98/Titanic/blob/main/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Titanic Challenge**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
from google.colab import drive
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

*detecting null values from dataframe*

In [2]:
dataset = pd.read_csv('/content/drive/My Drive/Titanic_dataset/train.csv')
print(dataset.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

*Print some data*

In [3]:
dataset.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

*Select and split data*

In [4]:
data = pd.DataFrame()
col = [['Pclass'],['Sex'],['Age'],['SibSp'],['Parch'],['Fare'],['Embarked'],['Survived']]
for x in col:
  data[x]=dataset[x]

data['Age'] = data['Age'].interpolate(method="linear",limit_direction='forward')
data['Embarked']=data['Embarked'].fillna(method='bfill')
encoder = preprocessing.LabelEncoder()
encoder.fit(data['Sex'])
data['Sex']=encoder.transform(data['Sex'])

train , test , train_target , test_target = train_test_split(data.iloc[:,:6],data.iloc[:,7],train_size = 0.8)

*SVM Classifier*

In [5]:
svm_model = svm.SVC(kernel='linear',C=1,gamma='auto').fit(train,train_target)
svm_predictor = svm_model.predict(test)
accuracy = svm_model.score(test, test_target) 
cm = confusion_matrix(test_target, svm_predictor) 
accuracy

0.8100558659217877